body {
  background-image: url("../img/grid.png");
}

.container {

        -webkit-perspective: 475px; /* Chrome, Safari, Opera */
    perspective: 475px;
}

.board {

        -webkit-transform: rotateX(deg); /* Chrome, Safari, Opera  */
    transform: rotateX(45deg);
}

.cell {
  width: 40px;
          -webkit-perspective: 0px; /* Chrome, Safari, Opera */
    perspective: 0px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: lightgray;
  margin: 2px;

}

.gutter {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
  background-image: url("../img/skull.png");
  background-size: 40px;
  background-repeat: no-repeat;
  text-align: center;
  opacity: 0.2;
}

.row {
  margin: 0 auto;
  text-align: center;
            -webkit-perspective: 0px; /* Chrome, Safari, Opera */
    perspective: 0px;
}

.rose {
cursor: pointer;
}

.p1 {
  background-color: red;
  opacity: 0.25;
}

.p2 {
  background-color: blue;
  opacity: 0.15;
}

.clicked {
  animation: pulse 500ms 1;
  opacity: 1.0;
}

.clickable {
  cursor: pointer;
  opacity: 0.5;
}

.clickable:hover {
  -webkit-filter: opacity(30%);
}

.rotatedir {
  transform: rotate(45deg);
}
