

.cell {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  background-color: lightgray;
  margin: 5px;
}

.cell:hover {
  -webkit-filter: opacity(30%);
}

.row {
  margin: 0 auto;
  text-align: center;
}

.p1 {
  background-color: #bdf271;
  opacity: 0.5;
}

.p2 {
  background-color: #01a2a6;
  opacity: 0.5;
}

.clicked {
  animation: pulse 500ms 1;
  opacity: 1;
}

.clickable {
  cursor: pointer;
}

.element {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: inherit;
    opacity: 0.25;
  }
  100% {
    background-color: inherit;
  }
}
