.cell {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  background-color: lightgray;
  margin: 5px;
}

.row {
  margin: 0 auto;
  text-align: center;
}

.rose {
float: left;
cursor: pointer;
}

.p1 {
  background-color: red;
  opacity: 0.25;
}

.p2 {
  background-color: blue;
  opacity: 0.25;
}

.clicked {
  animation: pulse 500ms 1;
  opacity: 1;
}

.clickable {
  cursor: pointer;
  opacity: 0.25;
}

.clickable:hover {
  -webkit-filter: opacity(30%);
}

.element {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: inherit;
    opacity: 0.75;
  }
  100% {
    background-color: inherit;
  }
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.rotatedir {
  transform: rotate(45deg);
}
