.cell {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  background-color: lightgray;
  margin: 5px;
}

.cell:hover {

}

.row {
  margin: 0 auto;
  text-align: center;
}

.p1 {
  background-color: #bdf271;
}

.p2 {
  background-color: #01a2a6;
}

.clicked {
  border: 1px solid #10222b;
}

.clickable {
  cursor: pointer;
}
